*.ipynb_checkpoints
*.DS_Store
*.pyc
*.tar.gz
*.phr
*.pin
*.pog
*.pos
*.pot
*.ppd
*.ppi
*.psq
*.ptf
*.pto
*.tar.gz.md5
*.btd
*.bti
*.pdb
*.pap
*.ali
NSP4.*
!NSP4.ali
!NSP4.profile
!NSP4-1t70A.ali
!NSP4-1t70A.pap
!NSP4.B99990003.pdb
